.tabs-container.overflow-x-auto {
    overflow-x: auto;
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
  }
  .tabs-container.overflow-x-auto::-webkit-scrollbar {
    display: none;  /* for Chrome, Safari, and Opera */
  }
  .tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .tabs-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .tabs-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .tabs-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .tab {
    display: inline-block;
    margin-right: 8px; /* Space between tabs */
  }
  
  .tab:last-child {
    margin-right: 0;
  }
  